<div class="page-wrapper">
    <split direction="horizontal">
        <split-area [size]="30">
            <div>
                <div class="tree-wrapper">
                    <tree-root #storageContainerTree
                            [nodes]="_storageElements" 
                            [options]="treeOptions"
                            (activate)="onTreeElementSelect($event)"
                            (deactivate)="onTreeElementDeselect($event)"> 
                    </tree-root>              
                </div>
            </div>
        </split-area>

        <split-area [size]="70">
            <div class="right-pane-wrapper">          
               
                <app-image-toolbar 
                    [activateUploadFile]="folderSelected" 
                    [activateUploadFolder]="folderSelected" 
                    [activateRename]="elementSelected" 
                    [activateDelete]="elementOrFolderSelected"                     
                    (uploadFileClick)="uploadFileClicked()" 
                    (uploadFolderClick)="uploadFolderClicked()" 
                    (renameClick)="renameModal.show()"
                    (deleteClick)="deleteElement()">
                </app-image-toolbar>

                <div class="images-wrapper">
                    <app-images-gallery [selectedFolderName]="selectedFolderName" [galleryVisible]="galleryVisible" [galleryImages]="galleryImages" > </app-images-gallery>                
                </div>                
            </div>
        </split-area>
    </split>
</div>

<app-modal #renameModal>
    <div class="app-modal-header">
        <h4>Rename image</h4>
    </div>
    <div class="app-modal-body">
        Please specify the new name
        <input type="text" class="form-control" #newName>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="renameModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="renameElement(newName.value)">Save changes</button>
    </div>
</app-modal>

<app-modal id='fileUploadModal' #fileUploadModal>
    <div class="app-modal-header">
        <h4>{{uploadModalTitle}}</h4>
    </div>
    <div class="app-modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Select files</h3>
                        <div *ngIf="uploadModalIsFolder">
                            <h5>Folder name</h5>
                            <input type="text" class="form-control" id="uploadFolderName" [(ngModel)]="uploadFolderName"> 
                        </div>                        
                        <h5>Multiple</h5>
                        <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>                 
                        <h5>Single</h5>
                        <input type="file" ng2FileSelect [uploader]="uploader" />
                </div>                 
                <div class="col-md-9" style="margin-bottom: 40px">                 
                    <h3>Upload queue</h3>
                    <p>Queue length: {{ uploader?.queue?.length }}</p>                 
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th>Size</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of uploader.queue">
                            <td><strong>{{ item?.file?.name }}</strong></td>
                            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                            <td *ngIf="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs"
                                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs"
                                        (click)="item.cancel()" [disabled]="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>
                                <button type="button" class="btn btn-danger btn-xs"
                                        (click)="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>                 
                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s"
                                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s"
                                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s"
                                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>                 
                </div>                 
            </div>                 
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="fileUploadModal.hide()">Close</button>
    </div>
</app-modal>

